<h1>Start a new discussion</h1>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="title_name">Board name</label>
    <input id="title_name" name="title_name" class="form-control" type="text">
    <label for="board_description">Board Description:</label>
    <textarea id="board_description" name="board_description" rows="10" cols="100">
    </textarea>
  </div>
  <button type="submit" class="btn">Make a new board</button>
</form>

 <a href="/boards">Return to Boards</a>

