<h1>Start a new discussion</h1>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="title_name">Board name</label>
    <input id="title_name" name="title_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Make a new board</button>
</form>